* {
    margin: 0 auto;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.content-container {
position: absolute;
width: 1366px;
height: 768px;
left: 0px;
top: 0px;
background: url(../images/background\ 1.png);
}

.header-txt {
display: flex;
align-items: center;
color: #FFFFFF;
text-decoration: none;
font-family: 'Roboto', sans-serif;
}

.logo-image {
position: absolute;
width: 53px;
height: 47px;
left: 161px;
top: 51px;
background: url(../images/css_sprites.png);
background-position: -83px -10px;

}

.logo1 {
position: absolute;
width: 140px;
height: 30px;
left: 222px;
top: 51px;
font-weight: 700;
font-size: 29px;
line-height: 29px;
}

.logo2 {
position: absolute;
width: 135px;
height: 21px;
left: 222px;
top: 81px;
font-weight: 700;
font-size: 18px;
line-height: 18px;
}

.mail:hover {
color: #F26522; 
} 

.tell:hover {
color: #F26522; 
} 

.logo:hover .logo1 {
    color: #F26522;
}

.logo:hover .logo2 {
    color: #F26522;
}

.logo:hover .logo-image {
    background-position: -10px -10px;
}

.data {
font-weight: 400;
font-size: 18px;
line-height: 18px;
height: 21px;
}

.mail{
position: absolute;
width: 219px;
left: 809px;
top: 46px;
}

 .tell { 
position: absolute;
width: 146px;
left: 882px;
top: 86px;
} 

.gallary-grid {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 220px 220px;
    grid-gap: 78px 61px;
}

main {
    padding-top: 124px;
    padding-left: 165px;
}
.txt {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    padding-top: 20px;
}

.card {
position: absolute;
width: 301px;
height: 60px;
left: 1px;
top: 161px;
background: #F26522;
opacity: 0;
transition: all 0.4s ease-out;
display: flex;
justify-content: space-between;
}

.card2 {
    left: 4px;
}

.link-img {
text-decoration: none;
}

.grid {
position: relative;
}

.link-img:hover .card {
opacity: 1;    
}

.link-img:hover .txt {
color: #F26522;
}

.txt-in-card {
    display: flex;
    flex-direction: column;
    padding-left: 16px;
}

.card-txt {
padding-top: 7px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 10px;
padding-bottom: 8px;
color: #FFFFFF;
line-height: 10px;
}

.money {
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 20px;
color: #FFFFFF;
}

.details {
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 14px;
color: #FFFFFF;
padding-top: 25px;
padding-right: 35px;
}

.details::after {
content: ">";
margin-left: 16px;
}

.license-txt {
position: absolute;
width: 306px;
height: 21px;
left: 530px;
top: 732px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 12px;
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
}